target/
bundles/
.classpath
.settings/
## IntelliJ Specific files ##
*.iml
.idea/
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/tubemogul/.DS_Store
src/main/java/com/tubemogul/tomahawk/.DS_Store
profiles.xml
test-output/
test-output
